<ul>
	<li{ifCurrent 'Dashboard:file'} class="active"{/ifCurrent}><a n:href="Dashboard:file">Jeden soubor</a></li>
	<li{ifCurrent 'Dashboard:files'} class="active"{/ifCurrent}><a n:href="Dashboard:files">Více souborů</a></li>
	<li{ifCurrent 'Dashboard:bio'} class="active"{/ifCurrent}><a n:href="Dashboard:bio">Bio</a></li>
</ul>
