{block content}

<h1 n:block="title">Výběr souboru</h1>

{include '../_default.menu.latte'}


<p>Jak to funguje:</p>
<p>Nejdříve je prázdný input. Pošle se FileUpload, ten se přetaví na FileUploaded, který je schovaný v transakci.</p>


{control bioForm}
