{block content}

<h1 n:block="title">Výběr souboru</h1>

{include '../_default.menu.latte'}


<ul>
<li>Při výběru souboru očekáváme, že tam také původní soubor už může být.</li>
<li>Očekávám, že vybraný soubor je možné nahradit, nebo smazat - pošle se správný objekt" <code>nahraný soubor</code> | <code>existující soubor</code> | <code>smazat soubor</code>.</li>
<li>Očekávám, že když je vybraný soubor, a mi na něj nešáhneme, že formulář půjde normálně uložit.</li>
<li>Očekávám, že když v prvním kole vyberu souboru, a formulář odešlu, a on se mi vrátí s chybou, že tam ten soubor nebudu muset nahrávat znovu.</li>
<li>Očekávám, že když v prvém kole nahraju soubor, a formulář se vrátí s chybou, že v druhou kole mohu vyplnit jiné prvky, a formulář odeslat.</li>
<li>Očekávám, že soubor jde nějak vizualizovat, náhled obrázku, nebo tak něco.</li>
<li>Očekávám, že soubor může být povinný i volitelný.</li>
<li>Očekávám, že soubor lze omezit na nějaký mimetype, nebo dokonce velikost.</li>
<li>Očekávám, že jsem schopen nahrát i extrémně velký soubor pomocí progresuploadu (js)</li>
</ul>





<p>Varianty:</p>
<ul>
	<li>Portrait 1: na začátku je prázdný souboru</li>
	<li>Portrait 2: na začátku už soubor je vyplněn, můžem ho smazat</li>
</ul>


{control filesForm}
