{block content}

<h1 n:block="title">Výběr souboru</h1>

{include '../_default.menu.latte'}


<p>Varianty:</p>
<ul>
	<li>Portrait 1: na začátku je prázdný souboru</li>
	<li>Portrait 2: na začátku už soubor je vyplněn, můžem ho smazat</li>
</ul>


{control fileForm}
